.dashboardImg img{
    height: 568px;
    width: 100%;
}

.gyaankunjDesc{
    padding: 80px;
}

.gyaankunjDesc h1 {
    width: 70%;
    font-size: xxx-large;
}

.gyaankunjDesc p{
width: 45%;
position: relative;
    left: 111px;
    top: 50px;
}

.carouselBtn {
    position: relative;
    top: 50px;
    right: 134px;
}

.exploreBtn{
    background-color: #FFFFFF;
    color: black;
    font-family: sans-serif;
}

