.cards {
    display: flex;
    position: relative;
    top: 50px;
    justify-content: space-between;
    padding: 0px 50px;
    margin-bottom: 70px;
}

.dashboardCards {
    height: 178px;
    position: relative;
    bottom: 17px;
    width: 288px;
    right: 17px;
    border-top-left-radius: 6px;
    border-top-right-radius: 5px;
}