.dashboardContentMain {
    /* background: transparent url('Images/DashboardBg1.png') 0% 0% no-repeat padding-box; */
    padding: 50px 102px;
}

.dashboardContentMain section{
    text-align: left;
    font: normal normal normal 20px/30px Roboto;
    letter-spacing: 0px;
    color: #0D205B;
    opacity: 1;
}

.dashboardContentMain h1 {
font: normal normal medium 50px/24px Roboto;
letter-spacing: 0px;
color: #0B1785;
opacity: 1;
}

.sectionMid {
    padding: 30px 200px;
}

.sectionEnd{
font: normal normal medium 18px/30px Roboto;
letter-spacing: 0px;
color: #4D4C4C;
opacity: 1;
}

.dashboardContentMid{
    height: 776px;
    width: 100%;
    padding: 0px 153px
}

.dashboardImageContent{
    height:320px;
    width: 561px;
    margin-top: 50px;
}

.dashboardImageContent h4{
    width: 116px;
    text-align: center;
font: normal normal bold 30px/24px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
padding-top: 44px;
    padding-left: 31px;
}

.dashboardImageContent p{
    width: 298px;
height: 96px;
text-align: left;
font: normal normal normal 18px/24px Roboto;
letter-spacing: 0px;
color: #03072A;
opacity: 1;
padding-left: 31px;
}

.whyToChoose{
    width: 100%;
    height: 951px;
    padding-top: 50px;
}

.whyToChooseImg{
    width: 152px;
    height: 152px;
    position: relative;
    left: 65px;
}

.whyToChoose p {
    text-align: center;
font: normal normal normal 22px/64px Roboto;
letter-spacing: 0px;
color: #040404;
opacity: 1;
}

.whyToChooseInnerContent{
    width: 100%;
    padding: 50px 12px 0px 282px;
}

.dashboardEndContent{
    height: 594px;
    width: 100%;
    border: 1px solid;
    padding-top: 50px;
}

.dashboardEndContent h1{
    text-align: center;
font: normal normal bold 50px/24px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.EndContentInner{
    padding: 80px 100px;
}

.EndContentInner p{
    margin-top: 40px;
    text-align: center;
font: normal normal normal 35px/6px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}