.headerCss {
    background-color: white;
    padding: 0px 40px;
    height: 90px;
    padding-right: 96px;
    box-shadow: 0px 3px 6px #B4B3B329;
}

.headerLoginBtn {
    width: 125px;
height: 48px;
border: 2px solid #2F5CE0;
border-radius: 4px;
opacity: 1;
}

.headerCss img {
    height: 75px;
}

.loginBtn{
    width: 172px;
height: 48px;
border: 2px solid #2F5CE0;
border-radius: 4px;
opacity: 1;
color: #2F5CE0;
}

.loggedInUserDetails {
    width: 326px;
    height: 50px;
    background: #F1F1F1 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #70707026;
border-radius: 31px;
opacity: 1;
}

.loggedInProfilePic{
    width:48px;
height:48px;
border: 3px solid #2F5CE0;
opacity: 1;
border-radius: 50%;
}

.loggedInProfilePic img{
    width:47px;
    height:47px;
    opacity: 1;
    border-radius: 50%;
    position: relative;
    bottom: 2px;
    right: 2px;
}

.loggedInName{
font: normal normal bold 16px/21px Roboto;
letter-spacing: 0px;
color: #081D5A;
opacity: 1;
position: relative;
    top: 10px;
    right: 10;
}

.downAngle{
    height: 27px;
    width: 27px;
    cursor: pointer;
}

.downAngle img{
    height: 30px
}