.headerCss {
    background-color: white;
    padding: 0px 40px;
    height: 90px;
    padding-right: 96px;
}

.headerLoginBtn {
    width: 125px;
height: 48px;
border: 2px solid #2F5CE0;
border-radius: 4px;
opacity: 1;
}

.headerCss img {
    height: 90px;
}

.loginBtn{
    width: 172px;
height: 48px;
border: 2px solid #2F5CE0;
border-radius: 4px;
opacity: 1;
color: #2F5CE0;
}