.routinemain{
    padding: 50px;
    margin: 107px 26px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 4px #0000001A;
border: 1px solid #EFF1F4;
border-radius: 8px;
opacity: 1;
}

.masterRoutineheader {
    margin-top: -40px;
    height: 74px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #B4B3B329;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
    width: 100%;
}

.masterRoutineheader h3 {
    text-align: left;
    font: normal normal bold 22px/34px Roboto;
    letter-spacing: 0px;
    color: #2A2D2F;
    opacity: 1;
}

.routineSection{
    margin-top: 20px;
}

.dayHeader{
    height: 54px;
background: #7A9ABF 0% 0% no-repeat padding-box;
border-radius: 4px 4px 0px 0px;
opacity: 1;
}

.dayHeader h5{
font: normal normal bold 17px/26px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
    position: relative;

}

.routineSection th{
    background-color: #7A9ABF;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font: normal normal bold 17px/26px Roboto;
}

.gradeStyle {
    vertical-align: middle;
    text-align: center;
    background: #3F4954 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    font: normal normal bold 26px/34px Roboto;
    letter-spacing: 0px;
    color: #F3FAFF;
    opacity: 1;
}

/* .routineTable td{
    font-size: 9px;
} */

.MRTableHeader th{
    color: black;
}

.teacherBlock {
    height: 44px;
    width: 257px;
}

.addLogBookBlock {
    height: 44px;
    width: 440px;
}

.masterRoutineGradeView{
    height: 44px;
    width: 291px;
    border-radius: 6px;
}