.sidebarStyling {
    width: 291px;
}

.sidebarStyling .ps-menu-label {
    text-align: left;
font: normal normal normal 20px/26px Roboto;
letter-spacing: 0px;
color: #0071FF;
opacity: 1;
}

.ps-menuitem-root a {
    height: 76px;
}

.ps-sidebar-root{
    width: 264px;
}

.sidebarMenu {
    padding: 40px 0px 0px 40px;
    width: 295px;
    font: normal normal normal 20px/26px Roboto;
letter-spacing: 0px;
color: #0071FF;
opacity: 1;
}

.pro-item-content a{
    text-decoration: none;
    
}

.menuItemStyle{
    position: relative;
    top: 13px;
}

ul{
    list-style-type: none
}

.sidebarMenuInner {
height: 74px;
}

.sidebarMenuInner img {
    position: relative;
    top: 11px;
    height: 18px;
    color: #0E2060;
}

.sidebarMenuInner a {
    font: normal normal normal 18px/26px Roboto;
    letter-spacing: 0px;
    color: #0E2060;
}

