.dashboardMain {
    margin-top: 90px;
    /* background: #F6F1F1 0% 0% no-repeat padding-box; */
    
}

.sidebarStyling{
    height: 600px;
}

.attendanceOverview {
    width: 100%;
    margin: 2%;
height: 249px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 4px #0000001A;
border: 1px solid #EFF1F4;
border-radius: 8px;
opacity: 1;

}

.attendanceOverview h4{
    padding: 20px;
    text-align: left;
font: normal normal bold 22px/34px Roboto;
letter-spacing: 0px;
color: #2A2D2F;
opacity: 1;
}

.attendanceOverviewInner h6 {
    background: #F1E7FC 0% 0% no-repeat padding-box;
border-radius: 0px 8px;
    height: 37px;
    width: 128px;
}

.attendanceOverviewInner{
    height: 175px;
    padding-top: 20px
}

.attendanceOverviewInner span {
    text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #AEAEAE;
opacity: 1;
}

.attendanceOverviewInner p{
    text-align: center;
font: normal normal bold 22px/35px Roboto;
letter-spacing: 0px;
color: #8A01FF;
opacity: 1;
position: relative;
    bottom: 4px;
}

.dashboardRightPanel {
    width: 91%;
    margin-left: 2%;
height: 248px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 4px #0000001A;
border: 1px solid #EFF1F4;
border-radius: 8px;
opacity: 1;
}

.toggleBtn {
    width: 45px;
    margin-right: 10px;
}

.teacherRoutine {
    width: 97%;
    margin-left: 2%;
    margin-bottom: 2%;
height: 249px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 4px #0000001A;
border: 1px solid #EFF1F4;
border-radius: 8px;
opacity: 1;
overflow: hidden;
overflow-y: auto;
}

.subjectsInDashboard h4{
    padding: 20px;
    text-align: left;
font: normal normal bold 22px/34px Roboto;
letter-spacing: 0px;
color: #2A2D2F;
opacity: 1;
}

.teacherRoutingDD {
    padding-top: 17px;
}

.dashboardLogbook{
    width: 97%;
    margin-left: 2%;
    margin-bottom: 20%;
height: 450px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 4px #0000001A;
border: 1px solid #EFF1F4;
border-radius: 8px;
opacity: 1;
overflow: hidden;
overflow-y: auto;
}

.dashboardLogbook h4{
    padding: 20px;
    text-align: left;
font: normal normal bold 22px/34px Roboto;
letter-spacing: 0px;
color: #2A2D2F;
opacity: 1;
}

.DLogbook {
    padding-top: 17px;
}

.dropdownHead {
    background-color: white;
    color: #8A01FF;
}

.dashboardRightPanelTop {
    margin-top: 4%;
    width: 358px;
    height: 74px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: 0px 3px 6px #B4B3B329; */
    opacity: 1;
    height: 249px;
    box-shadow: 0px 3px 4px #0000001a;
    border: 1px solid #EFF1F4;
    border-radius: 8px;
    margin-bottom: 5%;
}

.dashboardRightPanelTop h6{
font: normal normal normal 19px/34px Roboto;
letter-spacing: 0px;
color: #2A2D2F;
opacity: 1;
background: #F1E7FC 0% 0% no-repeat padding-box;
    border-radius: 0px 8px;
    height: 37px;
    width: 128px;
}

.dashboardRightPanelTop img{
    height: 154px;
    width: 188px;
    border-radius: 5%;
}

.dashboardRightPanelCard{
    height: 66px;
    margin-bottom: 2px;
    padding-right: 2px;
}

.dashboardStatus{
    background: #66B509 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.react-calendar {
    border-radius: 2%;
    border: none;
}

.bg-progressBarColour {
/* transform: matrix(-1, 0, 0, -1, 0, 0); */
background: transparent linear-gradient(90deg, #00E2D0 0%, #091C5C 100%) 0% 0% no-repeat padding-box;
border-radius: 14px;
opacity: 1;
animation: progress 0.4s ease-in-out forwards;
}

th {
    font: normal normal normal 20px/26px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
background-color: #7A9ABF;
}

td{
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #273B54;
opacity: 1;
}

.teacherAndStdAttendance {
    width: 97%;
    margin-left: 2%;
    margin-bottom: 2%;
height: 249px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 4px #0000001A;
border: 1px solid #EFF1F4;
border-radius: 8px;
opacity: 1;
overflow: hidden;
overflow-y: auto;
max-height: 631px;
height: 631px;
}

.teacherAndStdAttendance h4{
    padding: 20px;
    text-align: left;
font: normal normal bold 22px/34px Roboto;
letter-spacing: 0px;
color: #2A2D2F;
opacity: 1;
}

.attendanceSectionOverview {
    width: 97%;
    margin-top: 94px;
    margin-left: 2%;
    margin-bottom: 2%;
height: 249px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 4px #0000001A;
border: 1px solid #EFF1F4;
border-radius: 8px;
opacity: 1;

}

.attendanceSectionOverview h4{
    padding: 20px;
    text-align: left;
font: normal normal bold 22px/34px Roboto;
letter-spacing: 0px;
color: #2A2D2F;
opacity: 1;
}

.reportSection {
    width: 97%;
    margin-top: 94px;
    margin-left: 2%;
    margin-bottom: 2%;
height: 249px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 4px #0000001A;
border: 1px solid #EFF1F4;
border-radius: 8px;
opacity: 1;
overflow: hidden;
overflow-y: auto;
max-height: 631px;
height: 631px;
}

.reportSection h4{
    padding: 20px;
    text-align: left;
font: normal normal bold 22px/34px Roboto;
letter-spacing: 0px;
color: #2A2D2F;
opacity: 1;
}

.resourcesHeader {
    width: 97%;
    margin-top: 94px;
    margin-left: 2%;
    margin-bottom: 2%;
height: auto;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 4px #0000001A;
border: 1px solid #EFF1F4;
border-radius: 8px;
opacity: 1;
padding: 0px 15px
}

.resourcesHeader h4{
    padding: 20px 0px;
    text-align: left;
font: normal normal bold 22px/34px Roboto;
letter-spacing: 0px;
color: #2A2D2F;
opacity: 1;
}

.resourceText{
    text-align: left;
font: normal normal medium 14px/19px Roboto;
letter-spacing: 0px;
color: #4D5A87;
opacity: 1;
padding: 14px 0px 0px 25px;
}

.readBtn {
    background: #0937B5 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}

.reportHeading{
    margin-bottom: 10px;
}

.ResourceSection{
    margin: 32px 0px;
}

.failureMessage{
    font: normal normal bold 18px/34px Roboto;
    letter-spacing: 0px;
    color: #2A2D2F;
    opacity: 1;
}

.subjectsInDashboard{
    width: 901px;
    height: 460px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 4px #0000001A;
    border: 1px solid #EFF1F4;
    border-radius: 8px;
    opacity: 1;
    margin-bottom: 10px;
}

.subjectsDetails{
    height: 100px;
    width: 170px;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    border-radius: 3px;
    background-color: #F6F1F1;
    padding: 32px;
}

.subjectsDetails h6{
    font: normal normal normal 22px/29px Roboto;
letter-spacing: 0px;
/* color: #FFFFFF; */
opacity: 1;
}

.assignmentInDashboard{
    width: 901px;
    height: 460px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 4px #0000001A;
    border: 1px solid #EFF1F4;
    border-radius: 8px;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.assignmentInDashboard h4{
    padding: 20px;
    text-align: left;
font: normal normal bold 22px/34px Roboto;
letter-spacing: 0px;
color: #2A2D2F;
opacity: 1;
}

.assignmentTabData{
    height: 460px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 4px #0000001A;
    border: 1px solid #EFF1F4;
    border-radius: 8px;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.assignmentTabData h4{
    padding: 20px;
    text-align: left;
font: normal normal bold 22px/34px Roboto;
letter-spacing: 0px;
color: #2A2D2F;
opacity: 1;
}