.sidebarStyling {
    width: 291px;
}

.sidebarStyling .ps-menu-label {
    text-align: left;
font: normal normal normal 20px/26px Roboto;
letter-spacing: 0px;
color: #0071FF;
opacity: 1;
}

.ps-menuitem-root a {
    height: 76px;
}

.ps-sidebar-root{
    width: 264px;
}

.sidebarMenu {
    padding: 40px 0px 0px 40px;
    width: 295px;
    font: normal normal normal 20px/26px Roboto;
letter-spacing: 0px;
color: #0071FF;
opacity: 1;
}

.pro-item-content a{
    text-decoration: none;
    
}

.menuItemStyle{
    position: relative;
    top: 13px;
    text-align: left;
font: normal normal bold 18px/26px Roboto;
letter-spacing: 0px;
color: #0071FF;
opacity: 1;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

.sidebarMenuInner {
height: 61px;
/* border: 1px solid; */
width: 258px;
border-radius: 9px;

}

.sidebarMenuInner img {
    position: relative;
    top: 11px;
}